<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>Онлайн-магазин спортивных товаров</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="">Change Password</a></p>
  </div>
  <div class="center_wrapper margin-top">
      <form class="login" action="" method="POST">
          <div class="login__header">Change password</div>
          <label for="old_psswd" class="login__label">Current password</label>
          <input type="password" name="old_psswd" class="login__input" required>
          <label for="new_psswd" class="login__label">New password</label>
          <input type="password" name="new_psswd" class="login__input" required>
          <label for="cnfrm_psswd" class="login__label">Confirm new password</label>
          <input type="password" name="cnfrm_psswd" class="login__input" required>
          <button type="submit" value="Set New Password" class="login__button">Сохранить</button>
      </form>
      {% if not check %}
      <div class="login__error">
          Current Password doesn't match the record
      </div>
      {% endif %}
      {% if not equal %}
      <div class="login__error">
          New Password fields don't match, enter correctly
      </div>
      {% endif %}
  </div>
</body>
</html>
