<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>Онлайн-Магазин спортивных товаров</h1>
  </div>
  <div class="headbar">
  <p><a href="/">Home</a> > <a href="/buy">Buy</a> > <a href="">{{name}}</a></p>
  </div>
  <h2>{{name}}</h2>
  <form action="" method="POST">
    <table>
      <tr>
        <td>CATEGORY :</td><td>{{category}}</td>
      </tr>
      <tr>
        <td>DESCRIPTION :</td><td><pre>{{description}}</pre></td>
      </tr>
      <tr>
        <td>QUANTITY (select quantity):</td><td><input type="number" name="qty" value="1" min="1" max='{{quantity}}'></td>
      </tr>
      <tr>
        <td>PRICE :</td><td> {{price}}</td>
      </tr>
    </table>
  </form>
    <a class="href" href="/product/addtocart/{{ pid }}"> Add to cart</a>
</body>
</html>